body {
    display: flex;
    flex-direction: column;
    font-family: "roboto", sans-serif;
    margin: 0;
    flex-wrap: wrap;
}

.hero{
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    gap: 64px;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 140px;
    gap: 16px;
    text-align: center;
    margin: 18px 0;
}

.main-info{
    display: flex;
    padding: 0 140px;
    padding-bottom: 60px;
    align-items: center;
    justify-content: space-between;
}

.main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin-bottom: 0;
    margin: 10px 0;
}

.second-text{
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
    margin: 10px 0;
    width: 300px;
}
.sign-up {
    color: #F9FAF8;
    background-color: #3882F6;
    font-size: 18px;
    font-weight: 900;
    padding: 8px 32px;
    border-radius: 10px;
    border: none;
    margin: 10px 0;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bolder;
}

.links {
    display: flex;
    gap: 16px;
}

.hero-img {
    height: 270px;
    width: 500px;
}

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.random-information {
    display: flex;
    background-color: white;
    text-align: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
}

.cards{
    display: flex;
    gap: 50px;
    margin: 0 250px;
}

.each-card{
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.box {
    border: 4px;
    border-color: #3882F6;
    border-radius: 10px;
    border-style: solid;
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}

.quote-info {
    display: flex;
    background-color: #E5E7EB;
    padding: 100px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.the-quote {
    font-style: italic;
    font-size: 36px;
    color: #1f2937;
    font-weight: lighter;
    width: 600px;
}

.info-header{
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px;
}

.aurthor {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 600px;
    margin: 10px;
}

.digital-box {
    padding: 100px;
}

.call{
    display: flex;
    padding: 50px 95px;
    background-color: #3882F6;
    align-items: center;
    justify-content: space-around;
    color: #E5E7EB;
    margin: 0 150px;
    border: #3882F6 5px solid;
    border-radius: 10px;
}

.big-text {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bolder;
    border-radius: 10px;
}

.new {
    background-color: #3882F6;
    color: #F9FAF8;
    border-color: #F9FAF8;
    border-radius: 10px;
    padding: 10px 30px;
    border-style: solid;
    font-weight: bolder;
}

.footer {
    background-color: #1f2937;
    color: #E5E7EB;
    padding: 30px;
    text-align: center;
}